{% include 'navbar/index.html' %}

  <main class="main">

    <!-- Events Section -->
    <section id="events" class="events section">

      <div class="container" data-aos="fade-up">

        <div class="row">
          <div class="col-sm-3 d-flex align-items-stretch">
            <div class="card">
              <div class="card-img">
                <a href="digitalart/prints"><img src="../static/assets/img/clothing/pwceths.JPG" alt="..."></a>
              </div>
              <div class="card-body">
                <a href="digitalart/prints">
                <p class="fst-italic text-center">Praise Without Ceasing Even Then Hooded Sweatshirt</p>
                </a>
              </div>
            </div>
          </div>
          <div class="col-sm-3 d-flex align-items-stretch">
            <div class="card">
              <div class="card-img">
                <a href="digitalart/prints"><img src=../static/assets/img/clothing/pwcets.JPG alt="..."></a>
              </div>
              <div class="card-body">
                <a href="digitalart/prints">
                <p class="fst-italic text-center">Praise Without Ceasing Hooded Sweatshirt </p>
                </a>
              </div>
            </div>
          </div>
            <div class="col-sm-3 d-flex align-items-stretch">
              <div class="card">
                <div class="card-img">
                  <a href="digitalart/prints"><img src="../static/assets/img/clothing/pwceths2.JPG" alt="..."></a>
                </div>
                <div class="card-body">
                  <a href="digitalart/prints">
                  <p class="fst-italic text-center">Praise Without Ceasing Even Then T-Shirt</p>
                  </a>
                </div>
              </div>
            </div>
            <div class="col-sm-3 d-flex align-items-stretch">
              <div class="card">
                <div class="card-img">
                  <a href="digitalart/prints"><img src="../static/assets/img/clothing/pwcets2.JPG" alt="..."></a>
                </div>
                <div class="card-body">
                  <a href="digitalart/prints">
                  <p class="fst-italic text-center">Praise Without Ceasing T-Shirt</p>
                  </a>
                </div>
              </div>
            </div>
            <div class="col-sm-3 d-flex align-items-stretch">
              <div class="card">
                <div class="card-img">
                  <a href="digitalart/prints"><img src="../static/assets/img/clothing/pwcets3.JPG" alt="..."></a>
                </div>
                <div class="card-body">
                  <a href="digitalart/prints">
                  <p class="fst-italic text-center">Syntax & Sippy Cups T-Shirt</p>
                  </a>
                </div>
              </div>
            </div>
            <div class="col-sm-3 d-flex align-items-stretch">
              <div class="card">
                <div class="card-img">
                  <a href="digitalart/prints"><img src="../static/assets/img/clothing/pwceths.JPG" alt="..."></a>
                </div>
                <div class="card-body">
                  <a href="digitalart/prints">
                  <p class="fst-italic text-center">Syntax & Sippy Cups Hooded Sweatshirt</p>
                  </a>
                </div>
              </div>
            </div>
        </div>

      </div>

    </section><!-- /Events Section -->

  </main>

{% include 'footer/index.html' %}
