{% include 'navbar/index.html' %}

  <main class="main">

    <!-- About Section -->
    <section id="about" class="about section">

      <!-- Section Title -->
      <div class="container" data-aos="fade-up" data-aos-delay="100">

        <div class="row gy-4">
          <div class="col-lg-6 content">
            <h3>Welcome to Syntax & Sippy Cups</h3>
            <p>
              Welcome to Syntax and Sippy Cups — where creative code meets sticky fingers and soul-deep reflections. This is a cozy corner of the internet for the tender and tired, the curious and creative — especially the mamas building both babies and dreams. Here's what you’ll find here:
            </p>
            <ul>
              <li><i class="bi bi-check2-all"></i> <span><b>Honest reflections on faith and motherhood</b> — raw, vulnerable blog posts from the sacred (and sometimes sloppy) middle.</span></li>
              <li><i class="bi bi-check2-all"></i> <span><b>Digital art</b> — playful, personal visuals born from naptime bursts of creativity and a love for color and code.</span></li>
              <li><i class="bi bi-check2-all"></i> <span><b>Poetry</b> — quiet, heartfelt pieces written in the in-between moments that speak to grace, identity, and presence.</span></li>
            </ul>
            <p class="fst-italic">
              This is a space for showing up with steady love — for creating, nurturing, and trusting that even the smallest offerings matter.
              “May the favor of the Lord our God rest on us; establish the work of our hands for us — yes, establish the work of our hands.”
              - Psalm 90:17
            </p>
            <p>
              Welcome to the mess, the beauty, and the story in progress.
            </p>
          </div>
          <div class="col-lg-6">
            <img src="../static/assets/img/about.JPG" class="img-fluid" alt="">
          </div>
        </div>

      </div>

    </section><!-- /About Section -->

    <!-- Recent Photos Section -->
    <section id="recent-photos" class="recent-photos section">

      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2>Recent Photos</h2>
        <p>A glimpse at our everyday chaos, maddening monotony, and beautiful blessings</p>
      </div><!-- End Section Title -->

      <div class="container" data-aos="fade-up" data-aos-delay="100">

        <div class="swiper init-swiper">
          <script type="application/json" class="swiper-config">
            {
              "loop": true,
              "speed": 600,
              "autoplay": {
                "delay": 5000
              },
              "slidesPerView": "auto",
              "centeredSlides": true,
              "pagination": {
                "el": ".swiper-pagination",
                "type": "bullets",
                "clickable": true
              },
              "breakpoints": {
                "320": {
                  "slidesPerView": 1,
                  "spaceBetween": 0
                },
                "768": {
                  "slidesPerView": 3,
                  "spaceBetween": 20
                },
                "1200": {
                  "slidesPerView": 5,
                  "spaceBetween": 20
                }
              }
            }
          </script>
          <div class="swiper-wrapper align-items-center">
            <div class="swiper-slide"><a class="glightbox" data-gallery="images-gallery" href="../static/assets/img/recent-photos/recent-photos-1.jpg"><img src="../static/assets/img/recent-photos/recent-photos-1.jpg" class="img-fluid" alt=""></a></div>
            <div class="swiper-slide"><a class="glightbox" data-gallery="images-gallery" href="../static/assets/img/recent-photos/recent-photos-2.jpg"><img src="../static/assets/img/recent-photos/recent-photos-2.jpg" class="img-fluid" alt=""></a></div>
            <div class="swiper-slide"><a class="glightbox" data-gallery="images-gallery" href="../static/assets/img/recent-photos/recent-photos-3.jpg"><img src="../static/assets/img/recent-photos/recent-photos-3.jpg" class="img-fluid" alt=""></a></div>
            <div class="swiper-slide"><a class="glightbox" data-gallery="images-gallery" href="../static/assets/img/recent-photos/recent-photos-4.jpg"><img src="../static/assets/img/recent-photos/recent-photos-4.jpg" class="img-fluid" alt=""></a></div>
            <div class="swiper-slide"><a class="glightbox" data-gallery="images-gallery" href="../static/assets/img/recent-photos/recent-photos-5.jpg"><img src="../static/assets/img/recent-photos/recent-photos-5.jpg" class="img-fluid" alt=""></a></div>
            <div class="swiper-slide"><a class="glightbox" data-gallery="images-gallery" href="../static/assets/img/recent-photos/recent-photos-6.jpg"><img src="../static/assets/img/recent-photos/recent-photos-6.jpg" class="img-fluid" alt=""></a></div>
            <div class="swiper-slide"><a class="glightbox" data-gallery="images-gallery" href="../static/assets/img/recent-photos/recent-photos-7.jpg"><img src="../static/assets/img/recent-photos/recent-photos-7.jpg" class="img-fluid" alt=""></a></div>
            <div class="swiper-slide"><a class="glightbox" data-gallery="images-gallery" href="../static/assets/img/recent-photos/recent-photos-8.jpg"><img src="../static/assets/img/recent-photos/recent-photos-8.jpg" class="img-fluid" alt=""></a></div>
          </div>
          <div class="swiper-pagination"></div>
        </div>

      </div>

    </section><!-- /Recent Photos Section -->

  </main>


{% include 'footer/index.html' %}
