{% include 'navbar/index.html' %}

  <main class="main">

    <!-- Events Section -->
    <section id="events" class="events section">

      <div class="container" data-aos="fade-up">

        <div class="row">
          <div class="col-md-6 d-flex align-items-stretch">
            <div class="card">
              <div class="card-img">
                <a href="digitalart/prints"><img src="../static/assets/img/digitalart/prints/1.JPG" alt="..."></a>
              </div>
              <div class="card-body">
                <a href="digitalart/prints">
                <h5 class="card-title">Digital Prints</h5>
                <p class="fst-italic text-center">Presketched illustrations</p>
                <p class="card-text">Works of art capturing reflections of life, love, family, and God. Prints range from minimal outline drawings to full color paintings.</p>
                </a>
              </div>
            </div>
          </div>
          <div class="col-md-6 d-flex align-items-stretch">
            <div class="card">
              <div class="card-img">
                <a href="digitalart/portraits"><img src="../static/assets/img/digitalart/portraits/1.JPG" alt="..."></a>
              </div>
              <div class="card-body">
                <a href="digitalart/portraits">
                <h5 class="card-title">Custom Digital Portraits</h5>
                <p class="fst-italic text-center">Personalized Portrait Illustration from Photo</p>
                <p class="card-text">Personalized digital portraits with options ranging from minimal to detailed. Background choices can be plain color or a sketched version of original photo background. Whatever your vision is we can work together to make it happen.</p>
                </a>
              </div>
            </div>

          </div>
        </div>

      </div>

    </section><!-- /Events Section -->

  </main>

{% include 'footer/index.html' %}
