<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <title>Digital Portraits - The Well Soul</title>
  <meta name="description" content="">
  <meta name="keywords" content="">

  <!-- Favicons -->
  <link href="../../../static/assets/img/favicon.png" rel="icon">
  <link href="../../../static/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Fonts -->
  <link href="https://fonts.googleapis.com/css2?family=Playwrite+IT+Moderna&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com" rel="preconnect">
  <link href="https://fonts.gstatic.com" rel="preconnect" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="../../../static/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="../../../static/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="../../../static/assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="../../../static/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
  <link href="../../../static/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">

  <!-- Main CSS File -->
  <link href="../../../static/assets/css/main.css" rel="stylesheet">

  <!-- =======================================================
  * Template Name: MeFamily
  * Template URL: https://bootstrapmade.com/family-multipurpose-html-bootstrap-template-free/
  * Updated: Aug 07 2024 with Bootstrap v5.3.3
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body class="shop-page">

  <header id="header" class="header d-flex align-items-center sticky-top">
    <div class="container-fluid container-xl position-relative d-flex align-items-center justify-content-between">

      <a href="../index.html" class="logo d-flex align-items-center">
        <!-- Uncomment the line below if you also wish to use an image logo -->
        <!-- <img src="../../static/assets/img/logo.png" alt=""> -->
        <h1 class="sitename">The Well Soul</h1>
      </a>

      <nav id="navmenu" class="navmenu">
        <ul>
          <li><a href="../../../index.html">Home</a></li>
          <li><a href="our-story.html">Our Story</a></li>
          <li><a href="events.html">Events</a></li>
          <li><a href="gallery.html">Gallery</a></li>
          <li><a href="blog.html">Blog</a></li>
          <li class="dropdown" class="active"><a href="#"><span>Shop</span> <i class="bi bi-chevron-down toggle-dropdown"></i></a>
            <ul>
              <li><a href="#">Dropdown 1</a></li>
              <li class="dropdown"><a href="#"><span>Deep Dropdown</span> <i class="bi bi-chevron-down toggle-dropdown"></i></a>
                <ul>
                  <li><a href="#">Deep Dropdown 1</a></li>
                  <li><a href="#">Deep Dropdown 2</a></li>
                  <li><a href="#">Deep Dropdown 3</a></li>
                  <li><a href="#">Deep Dropdown 4</a></li>
                  <li><a href="#">Deep Dropdown 5</a></li>
                </ul>
              </li>
              <li><a href="#">Dropdown 2</a></li>
              <li><a href="#">Dropdown 3</a></li>
              <li><a href="#">Dropdown 4</a></li>
            </ul>
          </li>
          <li><a href="contact.html">Contact</a></li>
        </ul>
        <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
      </nav>

    </div>
  </header>

  <main class="main">

    <!-- Members Section -->
    <section id="members" class="members section">

      <div class="container">

        <div class="row">

          <div class="col-lg-4 col-md-6 d-flex" data-aos="fade-up" data-aos-delay="100">
            <div class="member">
              <img style="height:30em;" src="../../../static/assets/img/digitalart/portraits/faceless1.PNG" class="img-fluid" alt="">
              <div class="member-content">
                <h4>Minimal</h4>
                <span>$25-35</span>
                <p>
                  Minimalist personalized portrait illustrations. Includes a solid color background and optional text. Pricing starts at $25 for 1-4 people. additional persons are $5 per person up to $35 for 10 people. Portraits exceeding 10 people will incur an additional cost.
                </p>
              </div>
            </div>
          </div><!-- End Team Member -->

          <div class="col-lg-4 col-md-6 d-flex" data-aos="fade-up" data-aos-delay="200">
            <div class="member">
              <img style="height:30em;" src="../../../static/assets/img/digitalart/portraits/background2.PNG" class="img-fluid" alt="">
              <div class="member-content">
                <h4>Minimal - Background</h4>
                <span>$30-$40</span>
                <p>
                  Minimalist personalized portrait illustrations. Includes a digitally drawn version of the background from the original photo and optional text. Pricing starts at $30 for 1-4 people. additional persons are $5 per person up to $40 for 10 people. Portraits exceeding 10 people will incur an additional cost.
                </p>
              </div>
            </div>
          </div><!-- End Team Member -->

          <div class="col-lg-4 col-md-6 d-flex" data-aos="fade-up" data-aos-delay="300">
            <div class="member">
              <img style="height:30em;" src="../../../static/assets/img/digitalart/portraits/1.JPG" class="img-fluid" alt="">
              <div class="member-content">
                <h4>Detailed</h4>
                <span>$40-$55</span>
                <p>
                  Detailed personalized portrait illustrations. Background choice of solid color or a digitally drawn version of the background from the original photo and optional text. Pricing starts at $40 for 1-4 people. additional persons are $5 per person up to $55 for 10 people. Portraits exceeding 10 people will incur an additional cost.
                </p>
              </div>
            </div>
          </div><!-- End Team Member -->

        </div>

      </div>

    </section><!-- /Members Section -->

  </main>

{% include 'footer/index.html' %}
